html{
    font-size: 2em;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

img{
    height: 100px;
    width: auto;
    align-self: center;
    border-radius: 25%;
    
}

h1{
    align-self: center;
    position: absolute;
    left: 50%;
}